body {
    background-color: #fff; 
    color: #333;
    margin-top: 50px; 
}
.chat-sign-button {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 9999; 
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 50%; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}
.chat-widget {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fcf8e3; 
    border: none;
    color: #333; 
    transition: all 0.3s ease;
    z-index: 9998; 
}
.chat-widget-header {
    background-color: #929aab;
    color: #fff;
    border-radius: 10px 10px 0 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
.chat-widget-messages {
    overflow-y: auto;
    max-height: 300px;
    padding: 10px;
    background-color: #eeeeee;
}
.chat-widget-footer {
    background-color: #eeeeee; 
    border-radius: 0 0 10px 10px; 
    padding: 10px;
}
.form-control {
    background-color: #fff; 
    color: #333; 
    border-color: #ccc; 
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.odometer {
    font-size: 24px;
    color: #007bff; 
}
.user-message {
    text-align: right;
    margin-bottom: 10px;
    background-color: #eeeeee;
}
.bot-response {
    text-align: left;
    margin-bottom: 10px;
    background-color: #eeeeee;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #eeeeee; 
    color: #333; 
    padding: 10px;
}
.logout-btn {
    background-color: #dc3545; 
    color: #fff; 
    border: none; 
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    width: 150px; 
    text-align: center; 
}
.logout-btn:hover {
    background-color: #c82333; 
}
.bot-label {
    color: #dc3545;
}
.speak-button {
    background-color: #eeeeee; 
    color: #fff; 
    border: none;
    padding: 6px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    line-height: 1;
    transition: background-color 0.3s ease;
}
.speak-button:hover {
    background-color: #dddddd; 
}
#theme-toggle {
    background-color: #6c757d; 
    color: #fff; 
    border: none; 
    padding: 10px 20px;
    margin-top: 20px; 
    cursor: pointer; 
    border-radius: 10px; 
    transition: background-color 0.3s ease; 
    width: 150px; 
    text-align: center; 
  }
#theme-toggle:hover {
   background-color: #5a6268; 
}
.faq-page-btn {
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    margin-top: 20px; 
    cursor: pointer; 
    border-radius: 10px; 
    transition: background-color 0.3s ease; 
    width: 150px; 
    text-align: center; 
  }
.faq-page-btn:hover {
  background-color: #0056b3; 
}
#stock-table {
    color: #007bff;
}
.about-page-btn {
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    margin-top: 20px; 
    cursor: pointer; 
    border-radius: 10px; 
    transition: background-color 0.3s ease; 
    width: 150px;
    text-align: center;
  }
.about-page-btn:hover {
    background-color: #0056b3; 
}
.table-container {
    max-height: 400px;
    overflow-y: auto;
    margin-left: 50px;
    margin-right: 50px;
}   
.news-card {
    background-color: white; /* Background color for the news card */
    color: black; /* Text color for the news card */
}
.news-card-body {
    background-color: white; /* Background color for the news card body */
}
.news-card-title {
    color: black; /* Text color for the news card title */
}
.news-card-text {
    color: black; /* Text color for the news card text */
}
.news-btn {
    background-color: #007bff; /* Background color for the news button */
    border-color: #007bff; /* Border color for the news button */
    color: white; /* Text color for the news button */
}
#watchlist-table {
    background-color: white;
    color: #333;
}
.container-buttons {
    z-index: 9999; /* Adjust as needed */
}
